@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.app-container {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}
