/**
 * @description 全局变量配置
 */
//默认动画
$base-transition: all 0.2s;
//默认动画时长
$base-transition-time: 0.2s;
// 背景颜色
$background-color: #f8f8f8;
// 全屏高度
$base-main-height: 100vh;
// 全屏宽度
$base-main-width:100vw;
// 字体
$base-font-family: PingFang SC;
// tabbar 点击颜色
$tabbar-active-color:'#FE4F70';
$tabbar-inactive-color:'#949497'
