// 全局样式

@charset "utf-8";

@import "./normalize.scss";
@import './variables.scss';
@import './mixin.scss';
html,
  body,
  #app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #efeff4;
    -webkit-overflow-scrolling: touch;
  }
